/* здесь подключите шрифты */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat Regular";

  font-display: swap;
  src: url("../../fonts/montserrat-regular400.woff2") format("woff2"),
    url("../../fonts/montserrat-regular400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat Medium";

  font-display: swap;
  src: url("../../fonts/montserrat-medium500.woff2") format("woff2"),
    url("../../fonts/montserrat-medium500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat SemiBold";

  font-display: swap;
  src: url("../../fonts/montserrat-semiBold600.woff2") format("woff2"),
    url("../../fonts/montserrat-semiBold600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat Bold";

  font-display: swap;
  src: url("../../fonts/montserrat-bold700.woff2") format("woff2"),
    url("../../fonts/montserrat-bold700.woff") format("woff");
}
