.user-list {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding-left: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    order: 2;
    max-width: 300px;
  }
}

.user-list__item {
  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}

.user-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  @media (min-width: $desktop-width) {
    min-width: 112px;
    min-height: 80px;
    padding: 0 20px;
  }

  &:hover {
    color: #7859cf;
  }

  &:focus {
    color: #7859cf;
  }

  &:active {
    background-color: #f0ebff;

    @media (min-width: $tablet-width) {
      color: #7859cf;
    }
  }
}

.user-list__link-icon {
  path {
    fill: currentColor;
  }
}

.user-list__link-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 8px;

    text-transform: uppercase;
  }
}
